html
html
    head
        title Form Tester
    body
        form(action = "/", method = "POST")
            div
                label(for = "say") Say:
                input(type="text" name="Say" value="Hii")
            br
            div
                label(for="to") To:
                input(type="text" name ="to" value="Express forms")
            br
            button(type="submit") Send my greetings        