html
head
title Signup
body
if(message)
h4 #{message}
form(action = "/login" method = 'POST')
input(type="text" name = 'id' required placeholder = "User Id")
input(type="password" name = "password" required placeholder = 'Password')
button(type = "Submit") Log in