html
head
title Signup
body
if(message)
h4 #{message}
form(action="/signup" method = 'POST')
input(type="text" name ='id' required placeholder = 'User ID')
input(type="password" name= "password" required placeholder ='Password')
button(type = "submit") Sign me up!